/frontend/node_modules/
/backend/node_modules/

frontend/.env

frontend/mindmate/.dart_tool/
frontend/mindmate/build/
frontend/mindmate/.packages
frontend/mindmate/.flutter-plugins
frontend/mindmate/.flutter-plugins-dependencies
frontend/mindmate/.flutter-plugins
frontend/mindmate/.metadata
